{% load static %}
<div class="card mb-5">
    <div class="card-header">
        {{post.date_pub}}
        {% if  post.author == request.user%}
            <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-light ml-3" style="">Удалить</a>
        {% endif %}
    </div>
    <div class="card-body">
         <h4 class="card-title">{{post.title|truncatechars:35|truncatewords:15}}</h4>
         <p class="card-text">{{post.body|truncatechars:100|truncatewords:25}}</p>
         <a href="{%url 'post_detail' pk=post.pk%}" class="btn btn-primary ">Подробнее</a>
         <a href="{%url 'comment_create' pk=post.pk%}" class="btn btn-light ">Оставить комментарий</a>

    </div>
    <div class="card-header ">
        Автор:<a class ="ml-2" href = "{%url 'user_detail' pk=post.author.pk%}">{{post.author}}</a>
    </div>
    <ul class="list-group list-group-flush">
            {%for comm in post.comments.all|slice:":2"%}
                <li class="list-group-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-2 mt-2">
                                <a href="{% url 'user_detail' pk=comm.comment_author.pk %}"><img src="{%if comm.comment_author.avatar%}{{comm.comment_author.avatar.url}}
                                {%else%}{%static 'mysite/image/avatar.png'%}{%endif%}" width="44" height="44"></a>
                            </div>
                            <div class="col-6 mt-1">
                                <a class="" href="{% url 'user_detail' pk=comm.comment_author.pk %}" style="display: inline-block">{{comm.comment_author}}</a><br>
                                <a class="" style="font-size: 15px">{{comm|truncatechars:20|truncatewords:7}}</a>
                            </div>
                            {% if comm.comment_author == request.user or comm.post.author == request.user %}
                                <div class="col-4">
                                    <a class="btn btn-light " href="{% url 'comment_update' pk=comm.pk %}" style="">Редактировать</a>
                                    <a class="btn btn-light " href="{% url 'comment_delete' pk=comm.pk %}" style="">Удалить</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
    </ul>
</div>



